<div class="bg-gradient-to-r from-primary to-secondary text-white flex items-center justify-center h-screen ">
  <div class="bg-white rounded-[20px] p-10 md:min-w-[475px]">
    <app-section-header text="User Management System" />
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-black font-bold text-2xl mb-2">Sign In</h1>
      <p class="text-sm text-[#6C6C6C]">Enter your credentials to access your account</p>
      <form class="w-full mx-auto my-5" [formGroup]="loginForm" (submit)="onSubmit(loginForm)">
        <div class="mb-5 ">
          <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
          <div class="relative">
            <input type="email" id="username"
              class="border border-[#E5E5E5] text-gray-900 text-sm rounded-md  block w-full p-2.5"
              placeholder="Enter your email" formControlName="username" name="username" />
            <i class="fa-solid fa-envelope absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
          </div>
          <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched "
            class="text-red-500 text-sm">
            <span *ngIf="loginForm.get('username')?.errors?.['required']">Email is required</span>
            <!-- <span *ngIf="loginForm.get('username')?.errors?.['email']">Enter A Valid Email </span> -->
          </div>
        </div>
        <div class="mb-5">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
            password</label>
          <div class="relative">
            <input [type]="isHidden? 'password':'text'" id="password"
              class="border border-[#E5E5E5] text-gray-900 text-sm rounded-md  block w-full p-2.5"
              formControlName="password" name="password" placeholder="Enter your password" />

            <i (click)="isHidden=!isHidden"
              class="fa-solid  absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-500"
              [ngClass]="isHidden?'fa-eye-slash ':'fa-eye'"></i>

          </div>
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched "
            class="text-red-500 text-sm">
            <span *ngIf="loginForm.get('password')?.errors?.['required']"> Password is Required</span>
            <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters
              long. </span>
            <span *ngIf="loginForm.get('password')?.errors?.['maxlength']">Password cannot be longer than 20
              characters. </span>

          </div>
        </div>
        <button [disabled]="loginForm.invalid" type="submit"
          class="bg-primary rounded-md text-white text-center uppercase w-full py-2.5 my-2.5 disabled:bg-gray-200">Sign
          In</button>
      </form>

    </div>

  </div>
</div>